# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
/.idea.DZ_6_LINQ.iml
# Datasource local storage ignored files
/../../../../../../../../:\Образование\Unity и C#\Лабы\DZ_6_LINQ\.idea\.idea.DZ_6_LINQ\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
