# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.DZ_4_Queue.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Образование\Unity и C#\Лабы\DZ_4_Queue\.idea\.idea.DZ_4_Queue\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
