# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.NM_Labs1.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Образование\Unity и C\Лабы ЧМ\NM_Labs1\.idea\.idea.NM_Labs1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
